<div class="scrollable">
  <div class="scrollable-content">
  <div class=" dashboard">
      <div class="row" ng-if="hccexperience_active">
          <div class="col-xs-12" style="width:100%; padding:0;">
              <div class="image"><a href="#/hccexperience"><img src="images/fanzone.jpg" alt="Image" /></a></div>
              <div class="caption">
                  ULTRA ULTIMATE FAN ZONE<i class="fa fa-plus"></i>
              </div>
          </div>
      </div>
  <div class="row">
      <div class="col-xs-8 left">
        <div class="image"><a href="#/events"><img src="http://www.huaweicultureclub.co.za/app_images/events.jpg" width="587" height="280" alt="Image" /></a></div>
        <div class="caption">
        EVENTS<i class="fa fa-plus"></i>
        </div>
        </div>
        <div class="col-xs-4 right"><a class="social" href="#/you_tube"><img src="http://www.huaweicultureclub.co.za/app_images/you_tube.png"  alt="Image" /></a></div>
    </div>
    <div class="row">
      <div class="col-xs-4 left">
      <a class="social margin_b" href="#/facebook"><img src="http://www.huaweicultureclub.co.za/app_images/facebook.png"  alt="Image" /></a>
      <a class="social" href="#/twitter"><img src="http://www.huaweicultureclub.co.za/app_images/twitter.png"  alt="Image" /></a>
      </div>
        <div class="col-xs-8 right">
        <div class="image"><a href="#/competitions"><img src="http://www.huaweicultureclub.co.za/app_images/competitions.jpg" alt="Image" /></a></div>
        <div class="caption">
        COMPETITIONS<i class="fa fa-plus"></i>
        </div>
        </div>
    </div>
      <div class="row">
      <div class="col-xs-6 left">
       <div class="image"><a href="#/gallery"><img src="http://www.huaweicultureclub.co.za/app_images/gallery_small.jpg" alt="Image" /></a></div>
        <div class="caption">
        GALLERY<i class="fa fa-plus"></i>
        </div>
      </div>
        <div class="col-xs-6 right">
        <div class="image"><a href="#/news"><img src="http://www.huaweicultureclub.co.za/app_images/news.jpg" alt="Image" /></a></div>
        <div class="caption">
        NEWS<i class="fa fa-plus"></i>
        </div>
        </div>
    </div>
      <div class="row">
          <div class="col-xs-12" style="width:100%; padding:0;">
              <div class="image"><a href="#/djs"><img src="images/djs_ambassadors.jpg" alt="Image" /></a></div>
              <div class="caption">
                  DJ AMBASSADORS<i class="fa fa-plus"></i>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12" style="width:100%; padding:0;">
              <div class="image"><a href="#/products"><img src="images/djs_ambassadors.jpg" alt="Image" /></a></div>
              <div class="caption">
                  PRODUCTS<i class="fa fa-plus"></i>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12" style="width:100%; padding:0;">
              <div style="height: 45px"></div>
              <div class="caption" ng-click="logout()">
                  <i class="fa fa-power-off"></i> LOG OUT
              </div>
          </div>
      </div>

    </div>
  </div>
</div>
