<div class="scrollable">
    <div class="scrollable-content">
        <div class="events_page">
            <div class="row" ng-repeat="news in newsall" style="margin-bottom: 30px;" ng-click="show_news(news)">
                <div class="events" ng-if="news.thumbnail">
                    <img ng-src="{{news.thumbnail}}" width="909" class="border_top" alt="News"/>
                </div>
                <div class="content_events border_bottom">
                    <div class="div" style="margin-bottom: 8px; background:#FFF;"  class="news_title hero" hero-id="news_title">
                        <div class="left_align" style="width: 80%;"><h2 ng-bind-html="news.title" style="text-transform:none;"></h2></div>
                        <div class="right_align"><h3 class="date_block">{{news.date | date : "dd/MMM" }}</h3></div>
                    </div>
                    <!--<div data-ng-bind-html="news.description"></div>-->
                </div>
            </div>

        </div>
    </div>
</div>


